<form role="form" name="form" class="form-horizontal" id="formulario">
    <script cam-script type="text/form-script">
        camForm.on('form-loaded', function() {
          camForm.variableManager.fetchVariable('numeroProcesso');
          camForm.variableManager.fetchVariable('notificadoNome');
        });

        camForm.on('variables-restored', function() {
          $scope.numeroProcesso = camForm.variableManager.variableValue('numeroProcesso');
          $scope.notificadoNome = camForm.variableManager.variableValue('notificadoNome');
        });

    </script>

    <div class="panel panel-default">
        <div class="panel-heading">Dados do Processo</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Número: </dt>
                <dd>{{ numeroProcesso }}</dd>
                <dt>Notificado: </dt>
                <dd>{{ notificadoNome }}</dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">AR</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-4 control-label" for="codigoRastreio">Código de rastreio</label>  
                <div class="col-md-8">
                    <textarea name="codigoRastreio" class="form-control input-md"
                        cam-variable-type="String"
                        cam-variable-name="codigoRastreio"
                        rows="2">
                    </textarea>        
                </div>
            </div>
        </div>
    </div>

    <input type="button" onclick="javascript:sendContent();" value="aaaa">

</form>

<script type="text/javascript">

    function getValues() {
        var formValues = [];
        for( var i=0; i<document.getElementById('formulario').elements.length; i++ ) {
            var fieldName = document.getElementById('formulario').elements[i].name;
            var fieldValue = document.getElementById('formulario').elements[i].value;

            formValues.push({[fieldName]: fieldValue});
        }
        console.log('formValues: ', formValues);
        console.log('JSON.stringify(formValues): ', JSON.stringify(formValues));
        return JSON.stringify(formValues);
    }

    function sendContent()
    {
        window.parent.postMessage(getValues(), 'http://localhost:8080');
    }
</script>