
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teste Iframe</title>
</head>
<body>
<section>
    Abaixo IFRAME com formulário:
    <form id="contentFrameForm" method="GET" action="http://localhost:8080/enviado.html">
        <iframe id="contentFrame" src="about:blank" width="100%" height="500"></iframe>
    </form>
    <div id="valoresRecebidos">
        <h3>Valores recebidos:</h3>
    </div>
</section>


<script type="text/javascript">
    var variables = [
        {
            key: 'numeroProcesso',
            value: '09090'
        },
        {
            key: 'notificadoNome',
            value: 'Marcelo Soares'
        }
    ];

    fetch("http://localhost:8080/form.html").then((r)=>{r.text().then((result)=>{
        contentForm = result;
        variables.forEach((variable) => {
            contentForm = contentForm.replaceAll('{{ ' + variable.key + ' }}', variable.value);
        });

        document.getElementById('contentFrame').setAttribute("src", "data:text/html;charset=utf-8, " + contentForm);
    })});


    window.addEventListener("message", (event) => {
        // var allowed_hosts = ['https://localhost'];
        // if (!allowed_hosts.includes(event.origin)) return;
        // console.log('origin: ', event.origin);
        console.log('event: ', event);
        document.getElementById('valoresRecebidos').append(event.data);
    });

</script>
</body>
</html>
